/* @import '~bootstrap-icons/font/bootstrap-icons.css'; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', sans-serif;
}

/* HEADINGS */

::-moz-selection { /* Code for Firefox */
  /* color: red; */
  background: rgb(242, 192, 20);
  color:#fff;
}

::selection {
  /* color: red; */
  color:#fff;
    background: rgb(242, 192, 20);

}
h1,h2,h3,h4,h5,h6{
  font-weight: bolder !important;
}
h1 {
  /* color: #fff; */
  text-align: center;
  line-height: 1.4;
}
p{
  /* text-align: left; */
  line-height: 1.4;
}
i{
  cursor: pointer;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  color: #000;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
  font-weight: bolder !important;
}

.HomePageLeft , .HomePageRight{
font-size: 30px;
position: absolute;
top: 50%;
cursor: pointer;
color: rgb(242, 192, 20);
}

.MailTo{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.MailTo:hover{
  color: rgb(242, 192, 20);
}
.HomePageLeft{
  left: 10%;
}
.HomePageRight{
  right: 10%;
}
.HomePageLeft:hover, .HomePageRight:hover{
  color:  #0E1F37;
}
.modal-header{
background-color: #fff !important;
color:#0E1F37;

}
.modal-title{
  font-weight: 600 !important;
}
.btn-close{
  color: #fff !important;
}
.modal-footer{
  display: flex;
  justify-content: flex-start !important;
}
.modal-footer>.btn.btn-primary{
  background-color: rgb(242, 192, 20) !important;
  color: #fff !important;
  border: 1px solid rgb(242, 192, 20) !important ;
}
.HomePageTexts{
  position: absolute;
  top: 38%;
  left: 25%;
}
.ServicePageTexts{
  position: absolute;
  top: 10%;
  left: 35%;
}
.ServicePageTitle{
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin: 0px;
}
.Services:hover{
  color: rgb(242, 192, 20) !important;
  cursor: pointer;
}
.service1{
  position: absolute;
  top: 30%;
  left: 45%;
  color: #fff;
}
.service2{
  position: absolute;
  top: 45%;
  left: 30%;
  color: #fff;
}
.service3{
  position: absolute;
  top: 45%;
  right: 30%;
  color: #fff;
}
.service4{
  position: absolute;
  top: 60%;
  left: 15%;
  color: #fff;
}
.service5{
  position: absolute;
  top: 60%;
  right: 15%;
  color: #fff;
}
.SSDServices{
  list-style-type: none;
  padding: 20px;
  border: 1px solid #dedede;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #0E1F37;
}
.SSDServices>li{
  color: #fff;
  display: flex;
  gap: 5px;
  margin-bottom: 6px;
  cursor: pointer;
}
.SSDServices>li:hover{
  color: rgb(242, 192, 20);

}
.serviceDetailingPara{
  font-family: roboto,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 20px;
}
.paraStyle{
  font-family: roboto,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.ICASstyles{
  list-style-type: none;
}
.ICASstyles>li{
  display: flex;
  gap: 5px;
  margin-bottom: 6px;
  i{
    color: rgb(242, 192, 20);
  }
  b{
    color: rgb(242, 192, 20);
  }
}
.ICASstyles>i,.ICASstyles>b{
  color: rgb(242, 192, 20);
}
.HomePageTitle{
  font-family: anton,sans-serif;
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin: 0px;
    line-height: 1;
    white-space: nowrap;
    transform: translateY(300px);
    animation: slideUp .8s ease-in-out forwards .8s;
}
.sectionSpace{
  padding: 6rem
}
.sectionStyle{
  padding-top: 6rem;
}
.serviceImageStyle{
  width: 100%;
  max-height: inherit;
  filter: brightness(0.3);
}
.HomePageSubTitle{
  text-align: center;
  letter-spacing: 1em;
  color: #fff;
  margin-top: 1rem;
  transform: translateY(300px);
  animation: slideUp .8s ease-in-out forwards .8s;
}
.BDSSecondayColor{
  color: rgb(242, 192, 20);
}
/* .FooterStyles{
  background:#2A363B;
  width:100%;
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
  padding-top:50px;
  padding-bottom:50px;
} */

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}
.homePageImg{
  width: 100%;
  max-height: inherit;
  filter: brightness(0.5);
}
.SubTitle{
  text-align: center;
  letter-spacing: 1em;
  color: #0E1F37;
}
.FooterIcon{
  display: flex;
  justify-content: space-between;
  i{
    color: #fff;
  }
}
.FooterIcon>i:hover{
  color: rgb(242, 192, 20);
  cursor: pointer;
}
/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  /* background-color: #2A363B; */
  background-color: #0E1F37;
}

/* Home */

.HomeNextImg{
position: absolute;
right: 50px;
bottom: 50%;
}

/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 80px;
  overflow: hidden;
}

.navbar img {
  height: 65px;
  width: 65px;
  justify-self: start;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  justify-self: end;
  
}

.nav-item a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color:rgb(242, 192, 20);

}
.nav-item .linkSelected{
  color: rgb(242, 192, 20);
}

/* SECTIONS */

/* @import url('https://fonts.googleapis.com/css?family=Raleway'); */

/* // Colors */
/* @dark-blue: #32325d; */
/* @gray: #f8f8f8; */

/* // Mobile first */
*,
*::before,
*::after { 
  box-sizing: border-box;
}

.connectUs>input[type=text], input[type=email], input[type=url], input[type=password], input[type=search], input[type=tel], input[type=number], textarea, select, .form-control {
  background-color: transparent;
  border: 1px solid rgba(35,34,45,.1);
  border-radius: 0;
  color: #303849;
  font-size: 16px;
  font-weight: 300;
  height: 60px;
  padding-bottom: 9px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  width: 100%;
}
.c-mb-10 [class*=col-], .row.c-mb-10>[class*=col-] {
  margin-bottom: 10px;
}
.FooterLists{
  list-style-type: none;
  padding: 0;
}
.FooterLists>li{
  color: #fff;
  text-decoration: none ;
}
/* body {
  padding: 2rem 0.5rem;
  font-family: 'Raleway',Sans-serif;
  color:#32325d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  @media(min-width: 40rem) {
    padding: 2rem;
  }
} */


.center-color-main{
  border-color: #f2c014;
  color: #f2c014;
}

.BDS_Top_word {
  font-size: 80px;
  line-height: 1;
  white-space: nowrap;
  color: #fff;
}

/* //Flex container */
.container {
  display: flex;
  -webkit-display: box;
  -moz-display: box;
  -ms-display: flexbox;
  -webkit-display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

/* // Cards */
.cards {
  display: flex;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3%;
  }

  .card-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    overflow: hidden;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;

    &:hover {
      /* z-index: 0 !important; */
      cursor: pointer;
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      .card-image {
        opacity: 1;
      }
    }
  }

  /* // Content */
  .card-info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
    line-height: 1.5em;
  }

  .card-title {
    font-size: 25px;
    line-height: 1.1em;
    color: #0E1F37;
    margin-bottom: 0.2em;
  }

  /* // Images */
  .card-image{
    height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px 6px 0px 0px;
    /* opacity: 0.91; */
  }
}


.headline {
  width: 100%;
  height: 50vh;
  min-height: 350px;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  display: flex;
  padding: 50px 20px;
  justify-content: space-around;
}

.feature-container {
  flex-basis: 30%;
  margin-top: 10px;
}

.feature-container p {
  color: #000;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 15px;
}

.feature-container img {
  width: 100%;
  margin-bottom: 15px;
}
.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}
.BDS-Homecontainer{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.BDS-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
  box-shadow: 0 0 8px;
  border-radius: 5px;
  /* margin-top: -150px; */
}
.BDS-box>img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
  box-shadow: 0 0 8px;
  border-radius: 5px;
  /* opacity: 0.7; */
}
.BDSboxCol{
  padding-left: 50px;
  padding-right: 50px;
  visibility: visible!important;
}
/* MOBILE MENU & ANIMATION */

.menu-toggle .bar{
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover{
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */


/* Media Queries */

  /* Mobile Devices - Phones/Tablets */
  /* @media only screen and (min-width: 300px)
 {
  .BDS_layers_wrapper {
    bottom: 0;
    height: 100%;
    left: 15px;
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 5;
}
 } */

/* About */
/* .AboutContainer{
  width: 100%;
  margin: 50px auto;
  margin-bottom: 20px;
  display: flex;
  position: relative;
} */
/* .BackSide-Img{
  margin-left: 60px !important;
}
.Top-ImG{
  position:absolute;
  top: 55%;
  left:25%;
} */

/* aboutSection {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1f26;
} */
.AboutContainer {
  width: 60%;
  /* max-width: 1000px; */
  /* margin: 20px auto; */
  margin-top: 20px;
  /* margin-left: 40px; */
  display: flex;
  align-items: center;
  justify-content: end;
  /* background-color: aqua; */
}
.left {
  width: 50%;
  height: 600px;
  border-radius: 8px;
}
.right {
  width: 50%;
  /* min-height: 400px; */
  background-color:  #0E1F37;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 30px; */
  border-radius: 8px;
  color: white;
  margin-left: -150px;
}
.modal-title{
  color: #0E1F37;
}
.right h1 {
  font-size: 40px;
  font-weight: lighter;
}
.right p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}
.right a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
}
/* Gallery Styles */

.main-container {
  position: relative;
  margin: 0 auto;
  width: 35%;
}
.image {
  display: block;
  width: 100%;
  height: auto;

  cursor: pointer;
}

.overlay {
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  /* width: 100%; */
  height: 0;
  cursor: pointer;

  background-color: rgba(0, 0, 0, 0.75);
  transition: height 0.6s ease;
}

.main-container:hover .overlay {
  height: 50%;
}

.text-h1 {
  position: absolute;
  width: 100%;
  margin-top: 30px;
  color: rgb(242, 192, 20);
  font-size: 25px;
  text-align: center;
}
.overlay>.button{
  position: absolute;
  top: 60%;
  left: 35%;
}


@media only screen and (max-width: 768px) {
  .AboutContainer {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }
  .left {
    width: 100%;
    height: 400px;
  }
  .right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
  }
      
  .HomePageTitle{
    font-size: 25px !important;
  }
  .HomePageSubTitle{
    letter-spacing: 0.4rem !important;
  }
  .HomePageLeft, .HomePageRight{
    font-size: 20px !important;

  }
  .HomePageRight{
    right: 6% !important;
  }
  .HomePageLeft{
    left: 6% !important;
  }
  .HomePageTexts{
    left: 20% !important;
  }
  .sectionSpace{
    padding: 1.4rem !important;
  }
  .sectionStyle{
    padding-top: 0px !important;
  }
  .ServicePageTexts{
    left: 15%;
  }
  .ServicePageTitle{
    font-size: 40px;
  }
  .SubTitle{
    letter-spacing: 0.5em;
  }
  .service1{
    left: 27%;
    /* font-size: 14px; */
  }
  .service2{
    left: 10%;
  }
  .service3{
    right: 10%;
    top:38%
  }
  .service4{
    left: 6%;
    top:65%;
  }
  .service5{
   top:55%;
   
  }
}

@media only screen and (max-width: 720px) { 
  .features {
    flex-direction: column;
    padding: 50px;
  }

  .BDS-Homecontainer{
    max-width: 680px;
  }
  .BDSboxCol{
    margin: 20px 0px;
  }

  /* MOBILE HEADINGS */
  
  h1 {
    font-size: 1.9rem;
  }
  
  h2 {
    font-size: 1rem;
  }
  
  p {
    font-size: 0.8rem;
  }
  
  /* MOBILE NAVIGATION */
     
  .navbar ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    justify-content: start;
    top: 80px;
    left: 0px;
    background-color: #0E1F37;
    width: 100%;
    height: calc(100vh - 80px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }
  
  .navbar li {
    padding: 15px;
  }
  .nav-item a:hover {
    color: #0E1F37;
  }
  .navbar li:first-child {
    margin-top: 50px;
  }
  
  .navbar li a {
    font-size: 1rem;
  }
   
  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }
  
  .mobile-nav {
  transform: translate(0%)!important;
}
  
  /* SECTIONS */
  
  .headline {
    height: 20vh;
  }
    
  .HomePageTitle{
    font-size: 20px !important;
  }
  .HomePageSubTitle{
    letter-spacing: 0.4rem !important;
  }
  .HomePageLeft, .HomePageRight{
    font-size: 20px !important;

  }
  .HomePageRight{
    right: 6% !important;
  }
  .HomePageLeft{
    left: 6% !important;
  }
  .HomePageTexts{
    left: 5% !important;
  }
  .sectionSpace{
    padding: 1.4rem !important;
  }
  .sectionStyle{
    padding-top: 0px !important;
  }
  .ServicePageTexts{
    left: 10%;
  }
  .ServicePageTitle{
    font-size: 25px;
  }
  .SubTitle{
    letter-spacing: 0.5em;
  }
  .service1{
    left: 20%;
    /* font-size: 14px; */
  }
  .service2{
    left: 10%;
  }
  .service3{
    right: 10%;
    top:38%
  }
  .service4{
    left: 6%;
    top:65%;
  }
  .service5{
   top:55%;
   
  }
}

